/*--------------------------UNIVERSALES--------------------------*/
.botonAtras {
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: #222428;
    width: 70px;
    height: 20px;
    border-radius: 15px;
    left: 17%;
    top: 82%;
}

.botonAtrasPrincipal {
    font-weight: bold;
    position: absolute;
    color: white;
    background-color: #222428;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    left: 9%;
    bottom: 3%;
}

.mancuernaFondo {
    width: 50%;
    height: auto;
    position: fixed;
    z-index: -1;
    top: 70%;
}

/*--------------------------HEADER--------------------------*/

.header {
    width: 100%;
    height: 6vh;
    border-bottom: 1px solid black;
    box-shadow: 2px 0px 5px #8c8c8c;
    display: flex;
    align-items: center;
    justify-content: end;
}

.header strong {
    font-size: 20px;
    line-height: 26px;
}

.header button {
    margin-right: 10px;
    background-color: transparent;
}

/*--------------------------LOGIN--------------------------*/
.linea {
    border-bottom: 1px solid black;
    width: 50%;
    margin: 15px;
}

.loginCerrado {
    display: none;
}

.login {
    width: 100%;
    height: 100vh;
    background-color: #242424b4;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginCuerpoModal {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.906);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.loginCuerpoModal h1 {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
}

.loginCuerpoModal p {
    font-size: 12px;
}

.botonIniciarSesion {
    color: white;
    background-color: #222428;
    padding: 10px;
    width: auto;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

.loginFormulario {
    margin-bottom: 30px;
}

.loginFormulario p {
    font-size: 12px;
    margin-bottom: 2px;
}


/*--------------------------HOME PRINCIPAL--------------------------*/

.principalPantalla {
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: scroll;
}

.principalCuerpo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.botonPrincipalHome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #222428;
    padding: 10px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

.principalCuerpo button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    background-color: #222428;
    padding: 10px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}

.fitnessubbTitulo {
    font-size: 50px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
}

/*--------------------------CARTAS RUTINAS PROPIAS--------------------------*/
.box {
    border-radius: 20px;
    width: 350px;
    background-color: #8f8a8a;
    transition: max-height 1.0s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 40px;
    overflow: hidden;
    max-height: 80px;
    box-sizing: border-box;
}

.expanded {
    max-height: 500px;
}

.tituloCartaRutinaPropia {
    text-align: center;
}


/*--------------------------BUSCAR PRINCIPAL--------------------------*/

.principalPantallaBuscar {
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.contenedorListaRutinas {
    width: 90%;
    height: 400px;
    overflow-y: auto;
}

.listaRutinas {
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-right: 5px;
    gap: 10px;
}

.botonSubirRutina {
    color: white;
    background-color: #222428;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    margin-top: 12px;
}

/*-------------------------CARTA LISTA RUTINA-------------------------*/

.cartaRutina {
    width: 100%;
    height: 80px;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid grey;
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.595);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.cartaRutina h1 {
    font-weight: bold;
}

.cartaRutina p {
    font-size: 1.1em;
}

.star {
    color: gold;
    font-size: 35px;
}


/*-------------------------CARTA EJERCICIO MODAL-------------------------*/
.cartaEjercicioFondo {
    width: 100%;
    height: 100vh;
    background-color: #24242421;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartaCerradoEjercicio {
    display: none;
}

.Modal {
    background-color: white;
    margin-top: 20px;
    width: 350px;
    height: 580px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.388);
}

.Modal h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.Subtitulo {
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Subtitulo h2 {
    font-weight: bold;
}

.ModalIconos {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.iconoValoracion {
    font-size: 40px;
    color: gold;
}

.tickValoracionMensaje {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.mensajeDeGracias {
    font-size: 10px;
    color: goldenrod;
}

.checkValoracion {
    color: goldenrod;
    font-size: 40px;
}

.Ejercicios {
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow-y: scroll;
}

.Ejercicios p {
    text-align: center;
    margin: 0;
    padding: 0;
}

.descargarRutina {
    font-weight: bold;
    font-size: 18px;
    background-color: #222428;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    width: 170px;
    height: 40px;
    border-radius: 16px;
}

.cerrarCartaEjercicios {
    position: absolute;
    bottom: 10%;
    width: 100px;
    height: 40px;
    background-color: #222428;
    color: antiquewhite;
    font-weight: bold;
    border-radius: 20px;

}

/*-------------------------CARTA SUBIR RUTINA MODAL-------------------------*/

.cartaSubirRutina {
    width: 100%;
    height: 100vh;
    background-color: #24242421;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartaCerradoSubirRutina {
    display: none;
}

.subirRutinaModal {
    background-color: white;
    margin-top: 30px;
    width: 300px;
    height: 510px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.388);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nombreRutinaDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ejerciciosRutinaDiv {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectsDiv {
    background-color: aqua;
    width: 300px;
    height: 290px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    overflow-y: scroll;
}

.botonesSubirYAgregar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.agregarIcono {
    font-size: 50px;
    margin-bottom: 0;
}

/*-------------------------ESTADISTICA PRINCIPAL-------------------------*/
.principalPantallaEstadisticas {
    width: 100%;
    height: 87vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.principalPantallaEstadisticas img {
    width: 60%;
    height: auto;
}


/*-------------------------NAVBAR-------------------------*/

.navbar {
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid grey;
}

.navbarButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 33.33%;
}

#navbarButtonMedio {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.navbarIcon {
    color: gray;
    font-size: 32px;
}

/*---------------TARJETA DE EJERCICIOS---------------------*/
.TarjetaEjercicioCuerpo {
    width: 100%;
    height: 100px;
    background-color: white;
    border-top: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TarjetaEjercicioCuerpo:active{
    background-color: grey;
    color: white;
}

.TarjetaEjercicioCuerpo img {
    max-width: auto;
    height: 100%;
    object-fit: contain;
}

.TarjetaEjercicioCuerpo p {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}


/*-------------------------SPINNER-------------------------*/

.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #000000;
    border-color: #000000 transparent #000000 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}